---
import Layout from '../layouts/Layout.astro';
import { PaperCard } from '../components/Card';
import { Search } from '../components/Search';

var data = [
	{
		title: 'Card 1',
		content: 'This is the first card.',
		link: 'woooo'
	},
	{
		title: 'Card 2',
		content: 'This is the second card.',
		link: 'woooo'
	},
	{
		title: 'Card 3',
		content: 'This is the third card.',
		link: 'woooo'
	},
	{
		title: 'Card 4',
		content: 'This is the fourth card.',
		link: 'woooo'
	}
]
---

<Layout title="Welcome to Astro.">
	<main>
		<Search client:visible/>
		<div class="mx-8 my-4">
			<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
				<!-- <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
					<PaperCard title='Card 1' content='This is the first card.' link='woooo' client:visible />
				</li> -->
				<!-- forloop -->
				{data.map((iter) => 
					<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
						<PaperCard title={iter.title} content={iter.content} link={iter.link} client:visible />
					</li>
				)}
			</ul>
		</div>
	</main>
</Layout>

<style>
	
</style>
